@CHARSET "UTF-8";

#wrap{
	margin-top: 170px;
	width: 1000px;
	min-height: 400px;
	height: auto;
}

.substance_wrap{
	margin: 30px;
	width: auto;
}

.substance{
font-size:14px;
color: #333;
width: auto;
}
/* 기본정보  */


/* 회사소개 페이지  */




