@CHARSET "UTF-8";

#intro_text{
		padding: 20px;
}
#intro_text h1{
	color: #BD0B26;
}


.cataloguemain{
	margin: 30px 50px;
	width: 600px;
	min-height: 200px;
	height: auto;
}
.cataloguelist{
	margin: 30px 50px;
	width: 600px;
	min-height: 200px;
}
.cataloguelist li{
	margin:10px 8px;
	padding:2px;
	float: left;
	width: 180px;
	height: 200px;
}
#catalogList{
	border-collapse: collapse;
	text-align: center;
}
#catalogList tr:nth-child(1){
	height: 150px;
	border: 1px solid black;
}
#catalogList tr:nth-child(2){
	height: 30px;
}

#catalogList td{
	width: 200px;
}



#boardTableWrap{
	margin:20px;
	width: 650px;
	min-height: 400px;
	height: auto;
}






#viewbody{
	margin-top: 120px;
	margin-bottom: 10px;
	width: 1000px;
	min-height: 400px;
	height: auto;
}

#view_side{
	float:left;
	width: 150px;
	height: auto;
	margin-top: 50px;
	margin-left: 50px;
}
#intro_text{
	float: left;
	width: 700px;
	min-height: 300px;
	height:auto;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	border: 1px solid #d0d0d0;
	padding: 20px 0;
}
.view_side_intro{
	text-align: center;
	margin-top: 30px;
}

.view_side_intro li{
	margin: 30px 0;
}
.view_side_intro li h1{
	color: #BD0B26;
	font-size: 3em;
	font-weight: lighter;
}
.fordiv{
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.view_side_intro li:last-child{
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 30px;
}
.view_side_intro li a{
	font-size:1.5em;
	font-weight: lighter;
	color: black;
}
.view_side_intro li a:HOVER {
	color: #BD0B26;
	font-weight: bold;
}
